<% @title="Sales Team Email Automation Contact Us | Elevate" %>
<div class="platform_header">
	<h1>Contact Us</h1>
	<p>We would love the chance to help determine if we can help with your program goals.</p>
</div>

<div class="contact_area">
	<div class="container">
<%= form_for @contact do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :email %>:
  <%= f.text_field :email %><br />

  <%= f.label :company %>:
  <%= f.text_field :company %><br />

  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>
  </div>
</div>