<% @title="Email Marketing Automation for Clients - Homepage | Elevate" %>
<div class="hero_background">
  <div class="container-fluid">
    <div class="hero_area">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>We Help B2B Companies<br/> Increase Client Revenue</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>Discover Your Up-Sell and Cross-Sell Opportunities
          </h2>
        </div>
      </div>


       <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <%= image_tag 'hero_no_bg_small.png' %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p>The Elevate Customer Engagement Platform for B2B Companies</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2 cta_buttons">
          <a href="/contacts/new"><button type="button" class="btn btn-lg btn-danger">Schedule Demo</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="second_statement">
    <h2>Marketing Automation for Existing Customers</h2>
    <hr>
     <p>
    A Few of Our Clients
    </p>
    <%= image_tag 'clients3.png' %>
  </div>
</div>


<div class="container-fluid testimonial_background">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p><span class="quote_mark">"</span>Elevate is a no-brainer for companies looking to increase their up-selling and cross-selling opportunities. It's simple to use and it works.</span><span class="quote_mark">"</span>
      </p>
    </div>
  </div>

  <div class="row testimonial_attribute">
    <div class="col-md-6 col-md-offset-4">
       <p><%= image_tag 'chamandy.png' %> - Ian Chamandy, Blueprint Business Architecture</p>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="third_statement">
    <h2>Elevate in 60 Seconds</h2>
  </div>

  <div class="row benefit_text">
    <div class="col-md-5 col-md-offset-1">
      <h3>Uncover Client Buying Interest</h3>
      <p>Don't let up-sell and cross-sell opportunities slip away</p>
      <ul>
        <li><p>Learn client preferences across business units</p></li>
        <li><p>Understand which clients are ready to be contacted</p></li>
        <li><p>Make your content marketing data-driven</p></li>
      </ul>
    </div>

    <div class="col-md-5">
      <%= image_tag 'client_interest.png' %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <hr>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row benefit_text benefit_spacing">
    <div class="col-md-5 col-md-offset-1">
      <%= image_tag 'leads_sales.png' %>
    </div>

    <div class="col-md-5">
      <h3>Drive Leads Directly To Sales Teams</h3>
      <p>Give salespeople the data they need to drive revenue</p>
      <ul>
        <li><p>Tell sales teams which clients are ready to buy</p></li>
        <li><p>Figure out client interests across business divisions</p></li>
        <li><p>Build up a detailed interest profile on all your clients</p></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <hr>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row benefit_text benefit_spacing">
    <div class="col-md-5 col-md-offset-1">
      <h3>Improve Your Client Email Experience</h3>
      <p>Stop spamming your clients with irrelevant email marketing</p>
      <ul>
        <li><p>Segment your clients to ensure they only receive relevant info</p></li>
        <li><p>Understand which clients are ready to be contacted</p></li>
        <li><p>Create and execute mobile friendly programs in minutes</p></li>
      </ul>
    </div>

    <div class="col-md-5">
      <%= image_tag 'client_relations.png' %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <hr>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 benefit_text benefit_center crm_info">
      <h3>Fill Your CRM With Data Salespeople Will Actually Use</h3>
      <p>Provide your salespeople with relevant, timely client data</p>
      <div class="row benefit_text benefit_spacing">
        <div class="col-md-6 col-md-offset-3">
          <%= image_tag 'step7.png' %>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-md-offset-3 benefit_text benefit_center">
      <ul>
        <li><p>Tell sales teams which clients are ready to buy</p></li>
        <li><p>Figure out client interests across business divisions</p></li>
        <li><p>Build up a detailed interest profile on all your clients</p></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid third_party_quote">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
     <h2>“Email is the #1 contact point for customers in all age categories.”<br />
      <span class="third_party_quoter">- Marketo 2013</span></h2>
    </div>
  </div>
</div>


<div class="container-fluid home_page_contact">
   <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Schedule a demo to see how Elevate can work for you!</h2>
      <p>Let us show you how we can help you uncover buying interest and cross-selling opportunities</p>
    </div>
  </div>

   <div class="row">
    <div class="col-md-6 col-md-offset-3 homepage_button">
      <a href="/contacts/new"><button class="btn btn-primary btn-large"><span class="button_text">Show me what Elevate can do</span></button</a>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>