<% @title="Sales Team Email Automation Homepage | Elevate" %>
<div class="hero_background">
  <div class="container">
    <div class="hero_area">
      <div class="hero_area_text">
        <h1>Your Clients Want to<br />Hear it From You</h1>
        <p>Engage your clients and employees with email newsletters created from the news that matters most to them. </p>
        <br />
        <p>We make keeping in touch easier.</p>
      </div>
      <div class="hero_area_image">
        <%= image_tag 'hand_phone.png' %>
      </div>
      <div class="hero_cta">
      	<div class="btn-group inline cta_buttons">
      	  <p>
      	    <a href="/contacts/new"><button type="button" class='btn btn-large btn-info cta_button_1'>Schedule Demo</button></a>
      	    <a href="/platform"><button type="button" class='btn btn-large btn-success'>See Tour</button></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="value_prop_background">
  <div class="container">
    <div class="value_prop">
      <h2>Personalized Email Newsletter Creation and Delivery</h2>
      <p>Email is still the best way to reach your customers. Elevate automatically chooses the your content for each of your customers and delivers it when they want to receive it. Intelligent email marketing for marketers who don't have time.</p>
    </div>
  </div>
</div>
    
<div class="container line_break">
  <hr>
</div>

<div class="four_benefits">
  <div class="container">
    <div class="product_features product_features_left">
  	  <%= image_tag 'clipboard.png' %>
  	  <h2>Great Content</h2>
  	  <p>Elevate predicts the most relevant company and local content to include in your newsletters.</p>
    </div>

    <div class="product_features product_features_middle">
  	  <%= image_tag 'mobile_optimized.png' %>
  	  <h2>Mobile Optimized</h2>
  	  <p>Every newsletter is optimized to look perfect on smartphones, tablets and professional email clients. </p>
    </div>

    <div class="product_features product_features_middle">
  	  <%= image_tag 'sharing.png' %>
  	  <h2>More Sharing</h2>
  	  <p>Automatically coded to ensure every item can be shared individually to get up to 30X more social sharing.</p>
    </div>

    <div class="product_features">
  	  <%= image_tag 'track.png' %>
  	  <h2>Deep Insight</h2>
  	  <p>Discover which topics, articles and keywords drive the most sharing and engagement from your clients.</p>
    </div>
  </div>
</div>


<div class="elevate_stat">
  <div class="container">
    <div class="stat_container">
  	  <h2>Elevate's predictive newsletter platform uses social data and machine learning algorithms to create 1-to-1 email newsletters for all recipients.</h2>
  	</div>
  </div>
</div>


<div class="client_logos"> 
  <div class="container">
    <h2>A Few of Our Favorite Clients</h2>
  	  <%= image_tag 'clients2.png' %>
  </div>
</div>

<div class="container">
  <hr>
</div>

<div class="contact_us">
  <div class="container">
  	<h2>Want to Know More?</h2>
     <p><%= button_to "Schedule Demo", new_contact_path, :class => "btn btn-large btn-info cta_button_1", :method => :get %></p>
  </div>
</div>



