<% content_for :head do %>
  <title>Email Marketing Automation for Clients - Homepage | Elevate</title>
<% end %>
<div class="hero_background">
  <div class="container-fluid">
    <div class="hero_area">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>Maximize Revenue from Existing Clients</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>The Elevate Customer Engagement Platform
          </h2>
        </div>
      </div>


       <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <%= image_tag 'hero_no_bg_small.png' %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p>Elevate's next-generation email platform helps uncover up-sell, cross-sell and referral opportunities among your current clients.</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid homepage_signup_background">
  <div class="col-md-8 col-md-offset-2 homepage_contact_form_area">
    <%= render 'layouts/messages' %>
      <%= form_for :contact, url: contacts_path, html: { class: "form-inline hp_contact_form "} do |f| %>
    
        <%= f.text_field :email, class: "form-control form_placeholder_text", placeholder: "Enter email address..." %>

        <span class="contact_button_homepage"><%= f.submit 'Request More Information', class: 'btn btn-large btn-primary'  %></span>
      <% end %>
  </div>
</div>


<div class="container-fluid">
  <div class="second_statement">
    <h2>A Few of Our Clients</h2>
    <hr>
     <p>
    
    </p>
    <%= image_tag 'clients3.png' %>
  </div>
</div>


<div class="container-fluid testimonial_background">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p><span class="quote_mark">"</span>With each Elevate email I send, it's exciting discovering how much revenue is hidden in my current client list.</span><span class="quote_mark">"</span>
      </p>
    </div>
  </div>

  <div class="row testimonial_attribute">
    <div class="col-md-6 col-md-offset-4">
       <p><%= image_tag 'chamandy.png' %> - Ian Chamandy, Blueprint Business Architecture</p>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="third_statement">
    <h2>A Bit About Elevate</h2>
  </div>

  <div class="row benefit_text">
    <div class="col-md-5 col-md-offset-1">
      <h3>Uncover Client Buying Interest</h3>
      <p>Discover upsell and cross-sell opportunities you never knew existed</p>
      <ul>
        <li><p>Learn client preferences across business units</p></li>
        <li><p>Understand which clients are ready to be contacted</p></li>
        <li><p>Make your content marketing data-driven</p></li>
      </ul>
    </div>

    <div class="col-md-5">
      <%= image_tag 'client_interest.png' %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <hr>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row benefit_text benefit_spacing">
    <div class="col-md-5 col-md-offset-1">
      <%= image_tag 'leads_sales.png' %>
    </div>

    <div class="col-md-5">
      <h3>Drive Leads Directly To Sales Teams</h3>
      <p>Give salespeople the data they need to uncover hidden revenue</p>
      <ul>
        <li><p>Tell sales teams which clients are ready to buy</p></li>
        <li><p>Figure out client interests across business divisions</p></li>
        <li><p>Build up a detailed interest profile on all your clients</p></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <hr>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row benefit_text benefit_spacing">
    <div class="col-md-5 col-md-offset-1">
      <h3>Improve Your Client Email Experience</h3>
      <p>Have clients look forward to the content in your emails</p>
      <ul>
        <li><p>Segment your clients to ensure they only receive relevant info</p></li>
        <li><p>Understand which clients are ready to be contacted</p></li>
        <li><p>Create and execute mobile friendly programs in minutes</p></li>
      </ul>
    </div>

    <div class="col-md-5">
      <%= image_tag 'client_relations.png' %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <hr>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 benefit_text benefit_center crm_info">
      <h3>Fill Your CRM With Data Salespeople Will Actually Use</h3>
      <p>Provide your salespeople with relevant, timely client data</p>
      <div class="row benefit_text benefit_spacing">
        <div class="col-md-6 col-md-offset-3">
          <%= image_tag 'step7.png' %>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-md-offset-3 benefit_text benefit_center">
      <ul>
        <li><p>Tell sales teams which clients are ready to buy</p></li>
        <li><p>Figure out client interests across business divisions</p></li>
        <li><p>Build up a detailed interest profile on all your clients</p></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid third_party_quote">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
     <h2>“Email is the #1 contact point for customers in all age categories.”<br />
      <span class="third_party_quoter">- Marketo</span></h2>
    </div>
  </div>
</div>


<div class="container-fluid home_page_contact">
   <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Schedule a demo to see how Elevate can work for you!</h2>
      <p>Let us show you how we can help you uncover buying interest and cross-selling opportunities</p>
    </div>
  </div>

   <div class="row">
    <div class="col-md-6 col-md-offset-3 homepage_button">
      <a href="/contacts/new"><button class="btn btn-primary btn-large"><span class="button_text">Show me what Elevate can do</span></button</a>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>