<% @title="Sales Team Email Automation Platform | Elevate" %>

<div class="container-fluid sub_header">
</div>
<!-- hide this for now...
<div class="container-fluid product_header">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Discover Cross-Selling and Upselling Opportunities</h2>
    </div>
  </div>
</div>

-->


<div style="min-height: 120px;" class="container-fluid platform_page_header">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
     <h1>
          Want to know what your clients are interested in buying?
        </h1>
    </div>
  </div>
</div>


<div class="container-fluid elevate_quote">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= image_tag 'elevate_quote.png' %>
    </div>
  </div>
</div>
  


</div>


<div class="container-fluid platform_description" style="background: #f7f7f7;">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="second_statement">
        <h2>
          Elevate discovers cross-selling and upselling opportunities
        </h2>

        <p>B2B companies who aren't maximizing their cross-selling and upselling potential are leaving serious amounts of revenue on the table. Elevate creates rich profiles of your clients and their buying interests so you can serve them better.</p>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid how_works">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="second_statement">
        <h2>
          Understand what your clients want to buy
        </h2>

        

        <p>Elevate's Smart Email platform learns your client preferences and identifies which clients represent untapped revenue or cross-selling opportunities.</p> <br/>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid" style="padding-bottom: 20px;">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= image_tag 'how_it_works_3.png' %>
    </div>
  </div>
</div>

<div class="container-fluid platform_page_divider">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
     <h2>We Make It Easy to Get Results</h2>
    </div>
  </div>
</div>

<div class="container-fluid big_product_image">
  
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="second_statement">
        <h2>
          1. Create Digest Style Newsletters In Minutes
        </h2>
        <p><b>Embed products and services among industry news to gauge client buying interest</b>  <br/>

        <p>Elevate's makes it easy to create a digest-style email containing insightful, relevant content in minutes. By sending these out to properly segmented lists, your company can provide value in your emails instead of annoying them with irrelevant email blasts.</p> 
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= image_tag 'product_big_ipad.png' %>
    </div>
  </div>

</div>




<div class="first_quote_background">
  <div class="container-fluid">
    <div class="first_quote">
      <div class="row">
        <div class="col-md-6 col-md-offset-2 chamandy_quote">
          <p style="font-style: italic;"><span class="quote_mark">"</span>Before I had Elevate, I could only run an email once a quarter. Now in less than 20 minutes,  I run 3 email campaigns per week that drive geniune results.<span class="quote_mark">"</span>
            <br><br> <span class="chamandy">- Liz Roth, Axsium</span>
          </p>
        </div>
        <div class="col-md-3 chamandy_image"><%= image_tag 'liz_roth.png' %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid big_product_image">
  
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="second_statement">
        <h2>
          2. Discover Retention Risk, Upselling and Cross-Selling Potential
        </h2>
        <p><b>Give your salespeople the info they need</b>  <br/>

        <p>Your sales teams need to know what to talk to your clients about. Elevate automatically notifies them of clients who have expressed interest in company information or related products and services.</p> 
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= image_tag 'client_reportcard.png' %>
    </div>
  </div>

</div>




<div class="first_quote_background">
  <div class="container-fluid">
    <div class="first_quote">
      <div class="row">
        <div class="col-md-3 col-md-offset-2 chamandy_image"><%= image_tag 'bomba.png' %>
        </div>
         <div class="col-md-6  chamandy_quote">
          <p style="font-style: italic;"><span class="quote_mark">"</span>Elevate is the market leader in discovering upsell and cross-sell opportunities among current clients.<span class="quote_mark">"</span>
            <br><br> <span class="chamandy">- Eugene Bomba, PwC</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>