<div class="platform_header">
	<h1>Intelligent Email Newsletter Campaigns</h1>
	<p>Elevate uses social data to helps create 1-to-1 email newsletters for your customers</p>
</div>


<!-- Platform Step 1-->
<div class="platform_step step1_background">
  <div class="container">
  	<div class="row">
  		<div class="span6"> 
  			<div class="step1_title">
  	      <h2><span class="step1">1</span><span class="title_align">Intelligent Content</span></h2>	
  	    </div>
  	    <div class="step_description">
  	    	<p>Elevate scans your social media and digital channels to find and select the content that will be most relevant to each customer. No more worrying about what to put in each email. </p>
  	    	<p>The selected content can easily be added to or edited and takes only minutes to prepare. </p>
  	    </div>
  		</div>
 
  		<div class="span6">
  			<%= image_tag 'newsletter_1.png' %>
  		</div>
  	</div>
  </div>
</div>


<!-- Platform Step 2 -->
<div class="platform_step step2_background">
  <div class="container">
  	<div class="row">
  		<div class="span6">
  			<%= image_tag 'newsletter_1.png' %>
  		</div>

  		<div class="span6"> 
  			<div class="step2_title">
  	      <h2><span class="step2">2</span><span class="title_align">Personal Touch</span></h2>	
  	    </div>
  	    <div class="step_description">
  	    	<p>Add an optional personal message to customize each newsletter and to make announcements to your customers.</p>
  	    	<p>By creating the minimal amount of work for an interesting, relevant newsletter, your newsletter campaigns are guaranteed to be kept up and your customer relationships nourished.</p>
  	    </div>
  		</div>
  	</div>
  </div>
</div>


<!-- Platform Step 3 -->
<div class="platform_step step1_background">
  <div class="container">
  	<div class="row">
  		<div class="span6"> 
  			<div class="step1_title">
  	      <h2><span class="step1">3</span><span class="title_align">Responsive Templates</span></h2>	
  	    </div>
  	    <div class="step_description">
  	    	<p>We work with you to produce customized, responsive email templates that will work on all of your customers' email clients and mobile devices.</p>
  	    	<p>Your customers will receive branded newsetters from you that contain relevant content and look great wherever your customers read them. </p>
  	    </div>
  		</div>
 
  		<div class="span6">
  			<%= image_tag 'newsletter_1.png' %>
  		</div>
  	</div>
  </div>
</div>


<!-- Platform Step 4 -->
<div class="platform_step  step2_background">
  <div class="container">
  	<div class="row">
  		<div class="span6">
  			<%= image_tag 'newsletter_1.png' %>
  		</div>

  		<div class="span6"> 
  			<div class="step2_title">
  	      <h2><span class="step2">4</span><span class="title_align">Increased Sharing</span></h2>	
  	    </div>
  	    <div class="step_description">
  	    	<p>Ensure that your customers can see your latest digital content in your emails and make it easy for them to share with their own networks </p>
  	    	
  	    </div>
  		</div>
  	</div>
  </div>
</div>


<!-- Platform Step 5 -->
<div class="platform_step step1_background">
  <div class="container">
  	<div class="row">
  		<div class="span6"> 
  			<div class="step1_title">
  	      <h2><span class="step1">5</span><span class="title_align">CRM Friendly Analytics</span></h2>	
  	    </div>
  	    <div class="step_description">
  	    	<p>Elevate tracks all relevant data from the email campaigns to help identify customer activity that can lead to sales. </p>
  	    	<p>Email newsletter campaign data can be exported or can be integrated with your CRM for seemless tracking.</p>
  	    </div>
  		</div>
 
  		<div class="span6">
  			<%= image_tag 'newsletter_1.png' %>
  		</div>
  	</div>
  </div>
</div>


<div class="container">
  <hr>
</div>

<div class="contact_us">
  <div class="container">
  	<h2>Want to Know More?</h2>
  	 <p><%= button_to "Schedule Demo", new_contact_path, :class => "btn btn-large btn-info cta_button_1", :method => :get %></p>
  </div>
</div>

