<% content_for :head do %>
  <title>Email Marketing Automation for Clients - Platform | Elevate</title>
<% end %>

<div class="container-fluid platform_overview">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>Elevate discovers cross-selling and up-selling opportunities</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Understand what your clients want to buy</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= image_tag 'how_it_works_3.png' %>
    </div>
  </div>
</div>



<div class="container-fluid third_party_quote">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
     <h2>“The probability of selling to an existing customer is 60 – 70%. <br />The probability of selling to a new prospect is 5-20%”<br />
      <span class="third_party_quoter">- Gartner</span></h2>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 col-md-offset-3">
    <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#execution" data-toggle="tab">Easy Execution</a></li>
        <li><a href="#revenue" data-toggle="tab">Discover Revenue Opportunities</a></li>
        <li><a href="#experience" data-toggle="tab">Improve Client Experience</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Tab panes -->
<div class="tab-content">
<!-- Start Furst -->
  <div class="tab-pane active" id="execution">
    <div class="container-fluid big_product_image">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">  
          <h2>
            1. Create Digest-Style Newsletters In Minutes
          </h2>
          <p><b>Embed products and services among industry news to gauge client buying interest</b></p>

          <p>Elevate helps you create digest-style newsletters that make it easy to add value to your client communications. These emails take minutes to create and send and are 95% automated.</p>   
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-8 col-md-offset-2 big_product_image_border">
          <%= image_tag 'product_big_ipad.png' %>
        </div>
      </div>
    </div>
  </div>

<!-- Start Second Tab -->
  <div class="tab-pane" id="revenue">
    <div class="container-fluid big_product_image">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>
            2. Increase Retention, Up-Selling & Cross-Selling
          </h2>
          <p><b>Give your salespeople the info they need</b> </p> 

          <p>Your sales teams need to know what to talk to your clients about. Elevate automatically notifies them of clients who have expressed interest in company information or related products and services.</p> 
        </div>
      </div>
  
    <div class="row">
      <div class="col-md-8 col-md-offset-2 big_product_image_border">
        <%= image_tag 'client_reportcard.png' %>
      </div>
    </div>
  </div>
  </div>
  <!-- End Second Tab -->

  <!-- Start Third Tab -->
  <div class="tab-pane" id="experience">
    <div class="container-fluid big_product_image">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>
            3. Improve Your Client Experience
          </h2>
          <p><b>Data driven marketing allows you to improve your client communications</b>  <br/>

          <p>Stop sending your clients content that doesn't matter for them. Elevate makes it easy to understand and segment clients better to improve their relationship with you.</p> 
        </div>
      </div>
    </div>
  
    <div class="container-fluid good_email">
      <div class="row">
        <div class="col-md-6 col-md-offset-1">
          <h2>Send clients content they want to read</h2>
          <p>Too many companies send their clients way too much email containing information that is irrelevant. Using Elevate will improve your understanding of client preferences, the content you use to engage them, and ultimately, your ability to upsell and cross-sell according to their needs.
          </p>

          <ul>
            <li><p>Understand client preferences to segment them properly</p></li>
            <li><p>Identify upsell and cross-sell opportunities</p></li>
            <li><p>Flag retention risk among current clients</p></li>
            <li><p>Deliver qualified leads directly to sales teams</p></li>
          </ul>
        </div>

        <div class="col-md-4">
          <%= image_tag 'good_email.png' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <hr>
        </div>
      </div
    </div>
  </div>
  <!-- end third tab -->
</div>
<!-- END ALL TABS-->

<div class="container-fluid faq_section">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Frequently Asked Questions</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div class="faq_question">
        <h3>Why do you work with B2B companies?<h3>
        <p>Although we have some B2C clients, we believe that digest-style newsletters work best with B2B clients who see their vendors as a source of industry knowledge, not necessarily just a seller of products. We find that the sweet spot is any company who wants to be considered a thought leader to their clients in their industry of choice.  </p> 
      </div>

      <div class="faq_question">
        <h3>How is Elevate usually deployed?<h3>
        <p>Because it's email-based, segmentation of lists is important. We usually segment on a per-industry, per-account manager, or per product basis. Because the emails take minutes to product, Elevate makes it easy to execute on a segemented email strategy instead of blasting all of your clients the same messages regardless of what they care about.</p> 
      </div>

      <div class="faq_question">
        <h3>I already use marketing automation software. Why do I need you?<h3>
        <p>Good question. Most of our clients already use a type of marketing automation software. However, we find that it's mainly used to drive new leads. We don't do that. We care about nurturing current clients with valuable information in order to determine which client has interest in additional products or services from the company.</p> 
      </div>

      <div class="faq_question">
        <h3>Can I use this for my small business?<h3>
        <p>Although we usually only work with large enterprises, we do have some smaller clients who find they get the same quality of benefits. <a href="mailto:support@getelevate.com">Email us</a> and let's talk.</p>
      </div>

      <div class="faq_question">
        <h3>What type of support do you provide?<h3>
        <p>Because of the success with emails when client lists are properly segmented, we like to help with strategy as well as implementation. We also provide design support and can run entire programs for you. </p>
      </div>
    </div>

    <div class="col-md-5">
      <div class="faq_question">
        <h3>Why digest-style newsletters?<h3>
        <p>There are a few reasons why we focus on digest-style newsletters.</p>
          <ul>
            <li><p>Many of our B2B clients do not get enough website traffic to build rich data on their clients.</p></li>
            <li><p>Email is the #1 way to communicate with B2B clients among all categories.</p></li>
            <li><p>Being a thought leader on industry topics is important to most B2B companies</p></li>
            <li><p>Email is well understood as a strategy among B2B marketers.</li>
            <li><p>B2B companies generally have all the email addresses of their current clients.</p></li>
          </ul>
            <p>Essentially, email works in B2B. And Elevate does email in a way that adds value to the company-client relationship.</p>
      </div>

      <div class="faq_question">
        <h3>What kind of analytics do you provide?<h3>
        <p>We focus on delivering actionable sales data directly to your marketing and sales teams. In addition to building up a database of individual client preferences, we tell you which clients are reading any article that indicates buying interest in your products and services.</p> 
      </div>

      <div class="faq_question">
        <h3>Do you integrate with my CRM or marketing automation provider?<h3>
        <p>Yes. We integrate with popular enterprise CRMs such as Salesforce and Microsoft dynamics and we're currently working to integrate with Eloque and Marketo.</p> 
      </div>

      <div class="faq_question">
        <h3>How much does it cost?<h3>
        <p>It depends on how many segments you wish you run, how many recipients you have, the analytics and reporting you need, and the amount of customization required in your email templates. <a href="mailto:support@getelevate.com">Send us an email</a> and we would be happy to outline a cost for your program</p>
      </div>
    </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
       <hr />
    </div>
  </div>
</div>

<div class="container-fluid home_page_contact">
   <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Schedule a demo to see how Elevate can work for you!</h2>
      <p>Let us show you how we can help you uncover buying interest and cross-selling opportunities</p>
    </div>
  </div>

   <div class="row">
    <div class="col-md-6 col-md-offset-3 homepage_button">
      <a href="/contacts/new"><button class="btn btn-primary btn-large"><span class="button_text">Show me what Elevate can do</span></button</a>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>
