<div class="platform_header">
	<h1>Intelligent Email Newsletter Campaigns</h1>
	<p>Elevate uses social data to helps create 1-to-1 email newsletters for your customers</p>
</div>


<!-- Platform Step 1-->
<div class="platform_step step1_background">
  <div class="container">
  	<div class="row">
  		<div class="span6"> 
  			<div class="step1_title">
  	      <h2><span class="step1">1</span><span class="title_align">Content Analysis</span></h2>	
  	    </div>
  	    <div class="step_description">
  	    	<p>Elevate analyzes all content produced by your company accounts, as well selected local or industry-specific publishers.</p>
  	    	<p><b>Proven Content.</b> Find the most relevant company and local content to include in your newsletters.</p>
  	    </div>
  		</div>
 
  		<div class="span6">
  			<%= image_tag 'step1.png' %>
  		</div>
  	</div>
  </div>
</div>


<!-- Platform Step 2 -->
<div class="platform_step step2_background">
  <div class="container">
  	<div class="row">
  		<div class="span6">
  			<%= image_tag 'step2.png' %>
  		</div>

  		<div class="span6"> 
  			<div class="step2_title">
  	      <h2><span class="step2">2</span><span class="title_align">Review and Approve</span></h2>	
  	    </div>
  	    <div class="step_description">
  	    	<p>Marketing teams can quickly review and approve appropriate content for sharing in email newsletters.</p>
  	    	<p><b>Fully Compliant. </b>When brand and regulatory compliance matters, pre-approve content so professionals can deliver relevant, compliant content. </p>
  	    </div>
  		</div>
  	</div>
  </div>
</div>


<!-- Platform Step 3 -->
<div class="platform_step step1_background">
  <div class="container">
  	<div class="row">
  		<div class="span6"> 
  			<div class="step1_title">
  	      <h2><span class="step1">3</span><span class="title_align">Newsletter Management</span></h2>	
  	    </div>
  	    <div class="step_description">
  	    	<p>Customize your message then let the template build it for you in seconds with optimized design for sharing and tracking.</p>
  	    	<p><b>Personalize. </b>Elevate recommends the most relevant content for each professional, but allows you to customize the selections to make it personal. </p>
  	    </div>
  		</div>
 
  		<div class="span6">
  			<%= image_tag 'step3.png' %>
  		</div>
  	</div>
  </div>
</div>


<!-- Platform Step 4 -->
<div class="platform_step  step2_background">
  <div class="container">
  	<div class="row">
  		<div class="span6">
  			<%= image_tag 'step4.png' %>
  		</div>

  		<div class="span6"> 
  			<div class="step2_title">
  	      <h2><span class="step2">4</span><span class="title_align">Newsletter Optimization</span></h2>	
  	    </div>
  	    <div class="step_description">
  	    	<p>Elevate creates a customized look and feel, then optimizes your template design to work across all mobile phones and email clients, including legacy clients like Lotus Notes 6.5 and Outlook 2007.</p>
  	    	
          <p><b>Optimized Design. </b>ESend newsletters that look great across all email clients and mobile devices.</p>
          
  	    </div>
  		</div>
  	</div>
  </div>
</div>


<!-- Platform Step 5 -->
<div class="platform_step step1_background">
  <div class="container">
  	<div class="row">
  		<div class="span6"> 
  			<div class="step1_title">
  	      <h2><span class="step1">5</span><span class="title_align">Personalization</span></h2>	
  	    </div>
  	    <div class="step_description">
  	    	<p>Update newsletters with local or personal branding and messaging to provide customers and contacts with more personal engagement. </p>
  	    	<p><b>Optimize Delivery. </b>Ensure newsletters from the professional the client has a relationship with, as well as with the right timing and frequency. </p>
  	    </div>
  		</div>
 
  		<div class="span6">
  			<%= image_tag 'step5.png' %>
  		</div>
  	</div>
  </div>
</div>

<!-- Platform Step 6 -->
<div class="platform_step  step2_background">
  <div class="container">
    <div class="row">
      <div class="span6">
        <%= image_tag 'step6.png' %>
      </div>

      <div class="span6"> 
        <div class="step2_title">
          <h2><span class="step2">6</span><span class="title_align">Analytics</span></h2> 
        </div>
        <div class="step_description">
          <p>Go beyond open rates and pageviews. Track who shared, where, and how many people read it. Find your most engaged customers and employees. Automatically deliver reports locally via email each week.</p>
          
          <p><b>Deep Analytics. </b>Know which items each user reads, shares, and how many people engage with their shares.</p>
          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Platform Step 7 -->
<div class="platform_step step1_background">
  <div class="container">
    <div class="row">
      <div class="span6"> 
        <div class="step1_title">
          <h2><span class="step1">7</span><span class="title_align">CRM Integration</span></h2> 
        </div>
        <div class="step_description">
          <p>Elevate manages lists and automatically updates client and prospect activity every time a client opens, clicks or shares on an email, enabling your CRM to track and capture an average of 250 - 500 interactions per program every month.  </p>
        
        </div>
      </div>
 
      <div class="span6">
        <%= image_tag 'step7.png' %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <hr>
</div>

<div class="contact_us">
  <div class="container">
  	<h2>Want to Know More?</h2>
  	 <p><%= button_to "Schedule Demo", new_contact_path, :class => "btn btn-large btn-info cta_button_1", :method => :get %></p>
  </div>
</div>

