<% content_for :head do %>
  <title>Email Marketing Automation for Clients - Programs | Elevate</title>
<% end %>

<div class="container-fluid program_page_top">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>Digest-Style Newsletters Drive Customer Engagement </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>Add value to your customer communications</h3>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 program_image">
      <%= image_tag 'program_image.png' %>
    </div>

    <div class="col-md-4 how_it_works_list">
      <h3>Reasons to love digest emails</h3>
      <hr>
      <ul>
        <li>Better targeted content</li>
        <li>Get more total engagement</li>
        <li>5X higher clickthrough rates</li>
        <li>Promotes thought leadership</li>
        <li>Create & send in minutes</li>
        <li>Easily segment your recipients</li>
        <li>Generate data on preferences</li>
        <li>Reduce email spam</li>
        <li>Re-use content assets</li>
        <li>Increase content sharing</li>
        <li>Populate CRM with useful info</li>
      </ul>
    </div>
  </div>
</div>


<div class="container-fluid homepage_signup_background how_works_signup">
  <div class="col-md-8 col-md-offset-2 homepage_contact_form_area">
    <%= render 'layouts/messages' %>
      <%= form_for :contact, url: contacts_path, html: { class: "form-inline hp_contact_form "} do |f| %>
    
        <%= f.text_field :email, class: "form-control form_placeholder_text", placeholder: "Enter email address..." %>

        <span class="contact_button_homepage"><%= f.submit 'Request More Information', class: 'btn btn-large btn-primary'  %></span>
      <% end %>
  </div>
</div>

<div class="container-fluid what_you_get">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Segmented, digest-style newsletters allow companies to provide genuine value to their ongoing customer relationships. </h3>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 col-md-offset-3">
    <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#execution" data-toggle="tab">Simple to Use</a></li>
        <li><a href="#experience" data-toggle="tab">Better Customer Experience</a></li>
        <li><a href="#revenue" data-toggle="tab">Discover Hidden Revenue</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Tab panes -->
<div class="tab-content">
<!-- Start Furst -->
  <div class="tab-pane active" id="execution">
    <div class="container-fluid big_product_image">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">  
          <h2>
            1. Create Digest-Style Newsletters In Minutes
          </h2>

          <p>Elevate automates 95% of the work involved to send high quality digest-style emails.</p>   
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-8 col-md-offset-2 big_product_image_border">
          <%= image_tag 'product_big_ipad.png' %>
        </div>
      </div>
    </div>
  </div>

<!-- Start Second Tab -->
  <div class="tab-pane" id="revenue">
    <div class="container-fluid big_product_image">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>
            3. Increase Retention, Up-Selling & Cross-Selling
          </h2>
          <p><b>Give your salespeople the info they need</b> </p> 

          <p>Your sales teams need to know what to talk to your clients about. Elevate automatically notifies them of clients who have expressed interest in company information or related products and services.</p> 
        </div>
      </div>
  
    <div class="row">
      <div class="col-md-8 col-md-offset-2 big_product_image_border">
        <%= image_tag 'client_reportcard.png' %>
      </div>
    </div>
  </div>
  </div>
  <!-- End Second Tab -->

  <!-- Start Third Tab -->
  <div class="tab-pane" id="experience">
    <div class="container-fluid big_product_image">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>
            2. Improve Your Client Experience
          </h2>

          <p>Elevate makes it easy to understand and segment clients better to improve their relationship with you.</p> 
        </div>
      </div>
    </div>
  
    <div class="container-fluid good_email">
      <div class="row">
        <div class="col-md-6 col-md-offset-1">
          <h2>Send clients content they want to read</h2>
          <p>Elevate helps improve your understanding of client preferences, the content you use to engage them, and ultimately, your ability to upsell and cross-sell according to their needs.
          </p>

          <ul>
            <li><p>Understand client preferences to segment them properly</p></li>
            <li><p>Identify upsell and cross-sell opportunities</p></li>
            <li><p>Flag retention risk among current clients</p></li>
            <li><p>Deliver qualified leads directly to sales teams</p></li>
          </ul>
        </div>

        <div class="col-md-4">
          <%= image_tag 'good_email.png' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <hr>
        </div>
      </div
    </div>
  </div>
  <!-- end third tab -->
</div>
<!-- END ALL TABS-->



<div class="container-fluid programs_benefits">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>Add Value to Your Client Communications</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <h3>Personalised</h3>
      <%= image_tag 'clipboard.png' %> <br/>
      <p>Improve your client relationships by customizing their marketing experience. Elevate automatically chooses content based on a client's preferences and buying interest to ensure relevance of your communications.
      </p>
    </div>

    <div class="col-md-4">
      <h3>Automated</h3>
      <%= image_tag 'mobile_optimized.png' %> <br/>
      <p>Take the work out of email marketing. Running a properly segmented, data-driven email program is nearly impossible without automation. Elevate automates 95% of all work involved to execute on a world-class email strategy.
      </p>
    </div>

    <div class="col-md-3">
      <h3>Data-Driven</h3>
      <%= image_tag 'track.png' %> <br/>
      <p>Take your email communications to the next level by creating rich profiles on all clients through their interactions with your emails. Drive qualified leads directly to your sales teams and flag upsell, cross-sell and retention opportunities.
      </p>
    </div>
  </div>
</div>


<div class="container-fluid program_checklist">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>We're in the Business of Customer Success</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <h3>Let Us Help You</h3>
      <p>Companies drive over 80% of business from existing clients. Make sure you maximize your experience and revenue potential with the people who have already trusted you with their business.
      </p><br />
      <%= image_tag 'clients_vertical.png' %>
    </div>

    <div class="col-md-5 checklist_right">
      <h3>All Programs Include</h3>

       <ul>
         <li><p>Detailed needs assessment</p></li>
         <li><p>Content & audience analysis</p></li>
         <li><p>Competitive overview and strategy</p></li>
         <li><p>Elevate 'White Glove' setup</p></li>
         <li><p>Marketing team Elevate accounts</p></li>
         <li><p>Access to Elevate's Content Curation module</p></li>
         <li><p>Intelligent email creation and analytics</p></li>
         <li><p>Analytics and Insights Dashboard</p></li>
         <li><p>24/7 phone and email customer service</p></li>
         <li><p>CRM & Marketing Automation integration</p></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <hr>
    </div>
  </div>
</div>


<div class="container-fluid home_page_contact">
   <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Schedule a demo to see how Elevate can work for you!</h2>
      <p>Let us show you how we can help you uncover buying interest and cross-selling opportunities</p>
    </div>
  </div>

   <div class="row">
    <div class="col-md-6 col-md-offset-3 homepage_button">
      <a href="/contacts/new"><button class="btn btn-primary btn-large"><span class="button_text">Show me what Elevate can do</span></button</a>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>