<% @title="Email Marketing Automation for Clients - Programs | Elevate" %>

<div class="container-fluid program_page_top">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>Discover What Your Clients Care About</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>Improve your customer experience with communications they want to receive</h3>
    </div>
  </div>

  <div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 program_image">
      <%= image_tag 'program_image.png' %>
    </div>
  </div>
</div>

<div class="container-fluid programs_benefits">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>Add Value to Your Client Communications</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <h3>Personalised</h3>
      <%= image_tag 'clipboard.png' %> <br/>
      <p>Improve your client relationships by customizing their marketing experience. Elevate automatically chooses content based on a client's preferences and buying interest to ensure relevance of your communications.
      </p>
    </div>

    <div class="col-md-4">
      <h3>Automated</h3>
      <%= image_tag 'mobile_optimized.png' %> <br/>
      <p>Take the work out of email marketing. Running a properly segmented, data-driven email program is nearly impossible without automation. Elevate automates 95% of all work involved to execute on a world-class email strategy.
      </p>
    </div>

    <div class="col-md-3">
      <h3>Data-Driven</h3>
      <%= image_tag 'track.png' %> <br/>
      <p>Take your email communications to the next level by creating rich profiles on all clients through their interactions with your emails. Drive qualified leads directly to your sales teams and flag upsell, cross-sell and retention opportunities.
      </p>
    </div>
  </div>
</div>


<div class="container-fluid program_checklist">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>We're in the Business of Customer Success</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <h3>Let Us Help You</h3>
      <p>Companies drive over 80% of business from existing clients. Make sure you maximize your experience and revenue potential with the people who have already trusted you with their business.
      </p><br />
      <%= image_tag 'clients_vertical.png' %>
    </div>

    <div class="col-md-5 checklist_right">
      <h3>All Programs Include</h3>

       <ul>
         <li><p>Detailed needs assessment</p></li>
         <li><p>Content & audience analysis</p></li>
         <li><p>Competitive overview and strategy</p></li>
         <li><p>Elevate 'White Glove' setup</p></li>
         <li><p>Marketing team Elevate accounts</p></li>
         <li><p>Access to Elevate's Content Curation module</p></li>
         <li><p>Intelligent email creation and analytics</p></li>
         <li><p>Analytics and Insights Dashboard</p></li>
         <li><p>24/7 phone and email customer service</p></li>
         <li><p>CRM & Marketing Automation integration</p></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <hr>
    </div>
  </div>
</div>



<div class="container-fluid home_page_contact">
   <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Schedule a demo to see how Elevate can work for you!</h2>
      <p>Let us show you how we can help you uncover buying interest and cross-selling opportunities</p>
    </div>
  </div>

   <div class="row">
    <div class="col-md-6 col-md-offset-3 homepage_button">
      <a href="/contacts/new"><button class="btn btn-primary btn-large"><span class="button_text">Show me what Elevate can do</span></button</a>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>